@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base{
    *{
        @apply  p-0 m-0 box-border
    }

    body{
        @apply w-full min-h-screen bg-gradient-to-b from-[rgba(1,0,33,0.9)] to-black bg-center bg-no-repeat bg-cover overflow-x-hidden
    }

    header::after{
        @apply relative top-0 left-0 right-0 z-10 blur-sm
    }

    html{
        font-family: 'Poppins',sans-serif;
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
    }
}

@layer components{
    /* NAVBAR */
    .nav_item{
        @apply my-2 text-xl font-semibold cursor-pointer lg:mx-4 text-center
    }

    .nav_item:hover,.nav_item:active{
        @apply text-sky-500
    }

    .navbar-social{
       @apply mx-3 bg-gray-400 w-10 h-10 p-2 rounded-full border-2 cursor-pointer
    }

    .navbar-social:hover,.navbar-social:active{
        @apply border-sky-500 bg-sky-900
    }

    .header_appearance{
        @apply fixed top-0 left-0 right-0 z-50 flex w-full select-none flex-col items-center justify-around bg-black/[.6] py-8 text-white lg:flex-row
    }

    /* ABOUTME */
    #aboutme{
        @apply bg-center bg-cover bg-no-repeat
    }

    /* SKILL */
    .skill-bx{
        @apply mt-16 h-[500px] mx-5 w-[400px] max-w-[90%] bg-neutral-800/60 border-4 rounded-3xl shadow-md
    }

    .skill-bx-header{
        @apply text-center mt-5 text-3xl font-semibold
    }

    /* PROJECT */
    .card{
        @apply h-[300px] w-full overflow-hidden
    }

    .card:hover img,.card:active img,.card:focus img{
        @apply blur-[2px]
    }

    img{
        transition: .2s ease-in-out;
    }

    .card:hover .description,.card:active .description,.card:focus .description{
        @apply left-[0px] bottom-[300px]
    }

    .card:hover p,.card:active p,.card:focus p{
        @apply opacity-100 visible
    }

    .description{
        @apply h-[300px] left-[-100%] items-center text-center flex flex-col justify-center w-full p-[6px] box-border relative bg-gradient-to-b from-neutral-200/60;
        transition: .5s ease-in-out;
    }

    .description p{
        @apply invisible opacity-0
    }
}



